block variables

doctype html
html(lang='en')
  include ./_head.pug
  body(class=bodyClass)
    include ./_header.pug
    block body
    include ./_motivator.pug
    block footer
    include ./_modal.pug
    block script
