.motivator
  .container
    .mb42
      h2.title.mb0 Ready to become expert in converting files?
      h4.sub-title Sign up for paid plan and benefit from all features of Convert world
    .mb10
      a.btn.btn-success(href='/sign-up') Sign up now!
