footer.page-footer
  .grid
    .grid__row
      .page-footer__column
        p.page-footer__copyright © 2019 Convert world. All rights reserved.
        ul.page-footer__submenu.submenu
          li.submenu__item
            a.submenu__link(href='/terms') Terms of Use
          li.submenu__item
            a.submenu__link(href='/privacypolicy') Privacy Policy
