header.page-header
  .grid
    .grid__row
      .page-header__column
        h1.page-header__title Transliterate Text without issues
        p.page-header__description Some supportive text goes here for transliteration website
        .page-header__advertising
